body {
    background: white;
  }
  header {
    text-align: center;
  }
  img {
    display: block;
    margin: auto;
    width: 70%;
    height: 50%;
  }
  figcaption{
    font-size: 18px;
    text-align: center;
  }
.h1{
font-family: 'Sansita Swashed', cursive;
}